<!doctype html>
<html lang="de">

<head>

    <title>DASHBOARD</title>
    <link rel="icon" type="image/x-icon" href="/static/dashboard.png">
    <meta charset="utf-8" />
    <center><b><titel> Steam-Inventar-Manager </font></title></b></center><br>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
<!-- Überschriften -->
    <h1><center> Dashboard </center></h1>

<br>

<center>
    <label for="cars">Wähle eine/mehrere Kisten aus:</label>


    <select name="kisten" id="kiste">
        <option value="gamma1">Gamma 1</option>
        <option value="kilowatt">Kilowatt</option>
        <option value="weaponcase">Weapon Case</option>
        <option value="gamma2">Gamma 2</option>
    </select>
</center>

<br>





</body>
</html>
