<!doctype html>
<html lang="de">


<head>
    <title>LOGIN/REGISTER</title>
    <link rel="icon" type="image/x-icon" href="/static/dashboard.png">
    <meta charset="utf-8" />
    <center><b><titel> Steam-Inventar-Manager </font></title></b></center><br>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!--<h1><center> Steam-Inventar-Manager </center></h1>-->
</head>

<body>

    <div class="container">
        <div class="form-container">
            <div class="form-blob">
                <img src="static/styless.css" alt="blob" class="blob-image blob-image--1">
                <img src="static/styless.css" alt="blob" class="blob-image blob-image--2">
                <img src="static/styless.css" alt="blob" class="blob-image blob-image--3">
            </div>

        <div class="form-header">
            <h2>Willkommen</h2>
            <h3>|Bitte gib deine Daten ein|</h3>

        </div>
            <form class="form-box" action="/login" method="POST">
                <div class="input-group">
                    
                    <div class="input-group">
                        <input type="text" name="benutzername" id="email" class="input-field" placeholder="" required>
                        <label for="email" class="floating-label">Benutzername / Email</label>
                    </div>
                    
                    <div class="input-group">
                        <input type="password" name="passwort" id="password" class="input-field" placeholder="" required>
                        <label for="password" class="floating-label">Password</label>
                        <div class="eye-icon">
                            p
                        </div>
                    </div>
                    
                    <div class="input-group checkbox-group">
                        <div class="form-col remember-me">
                            <input type="checkbox" id="remember-me-checkbox" class="checkbox-field">
                            <label for="remember-me-checkbox">Remember me</label>
                        </div>
                        <div class="form-col">
                            <a href="#" class="form-link">Forgot your password?</a>
                        </div>
                    </div>
                    
                    <button type="submit" class="submit-btn form-btn--submit">Sign In</button>
                    
                </div> 
            </form>
            <div class="form-divider">
                <p>Or</p>
            </div>
                </div>
                <p> Dont have an account? <a href="#" class="form-link">Sign up</a></p>
            </div>
        </div>
    </div>

</body>

</html>
