<!doctype html>
<html lang="de">


<head>
    <title>REGISTER</title>
    <link rel="icon" type="image/x-icon" href="/static/login.png">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>



<body>
<center>
    <a> Steam-Inventar-Manager</a>
    <h1>Registrieren</h1>
<div class="container">
    <div class="form-container">

        <!-- Header -->
        <div class="form-header">
            <h3>Willkommen</h3>
            <p class="subtitle">Bitte gib deine Daten ein</p>
        </div>
        <br>

        <!-- Form -->
        <form class="form-box" action="/register" method="POST">

            {% if fehlermeldung %}
                <div style="color: red; text-align: center; font-weight: bold; margin-bottom: 15px; background-color: #ffe6e6; padding: 10px; border-radius: 5px;">
                    {{ fehlermeldung }}
                </div>
            {% endif %}

            <!-- Username -->
            <div class="input-group">
                <input type="text" name="benutzername" id="email" class="input-field" required>
                <label for="email">Benutzername / E-Mail</label>
            </div>

            <!-- Password -->
            <div class="input-group password-group">
                <input type="password" name="passwort" id="password" class="input-field" required>
                <label for="password">Passwort</label>
                <span class="eye-icon">&#128065;</span>
            </div>

            <!-- Password Bestätigen -->
            <div class="input-group password-group">
                <input type="password" name="passwort_confirm" id="password_confirm" class="input-field" required>
                <label for="password_confirm">Passwort Bestätigen</label>
                <span class="eye-icon">&#128065;</span>
            </div>

            <!-- Button -->
            <button type="submit" class="submit-btn">Registrieren</button>

        </form>


    </div>
</div>
</center>
</body>

</html>