<!doctype html>
<html lang="de">


<head>
    <meta charset="utf-8" />
<center><b><titel> www.steam-inventar-manager.de </font></title></b></center><br>
   <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<!-- Überschriften -->
    <h1><center> Willkommen beim Steam-Inventar-Manager </center></h1>
    <h2><center> Hier klicken um dich anzumelden</center></h2>

<!-- BETRETEN-Feld -->
<br>
<center>
    <a href="/login" class="button1">BETRETEN</a>

</center>



</body>
</html>
