<!doctype html>
<html lang="de">

<head>

    <title>DASHBOARD</title>
    <link rel="icon" type="image/x-icon" href="/static/dashboard.png">
    <meta charset="utf-8" />
    <center><b><titel> Dashboard </font></title></b></center><br>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
<!-- Überschriften -->
    <h1><center> Willkommen beim Steam-Inventar-Manager </center></h1>

<center>
<label for="cars">Wähle eine Kiste aus:</label>


<select name="kisten" id="kiste">
  <option value="Gamma 1">gamma1</option>
  <option value="Kilowatt">kilowatt</option>
  <option value="Weapon Case">weaponcase</option>
  <option value="Gamma 2">gamma2</option>
</select>
</center>




</body>
</html>
